.navCategory {
    white-space: nowrap;
    position: relative;
    bottom: 8px;

}


.bold-underline {
    font-weight: bold;
    text-decoration: underline;
}

.underlineGray {
    text-decoration: underline;
    color: gray;
}

.underlineBlue {
    text-decoration: underline;
    color: darkblue;
}

.navCategory a:hover {
    color: blue;
    text-decoration: underline;
}