<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template :: head(title = '100 ideas - Ask')}"><title>Ask</title></head>
<body>
<th:block th:replace="~{template :: header}" />



<section class="main-content920">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="ask-question-input-part032">
                    <h4 th:text="#{menu.ask_question}">Ask question</h4>
                    <hr>
                    <form th:object="${question}" th:action="@{/questions/add}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="username" th:text="#{menu.username}">User name*</label>
                            <input type="text" name="username" class="form-control" id="username" th:placeholder="#{menu.placeholder_name}" required>
                        </div>
                        <div class="form-group">
                            <label for="email">E-Mail*</label>
                            <input type="email" name="email" class="form-control" id="email" th:placeholder="#{menu.placeholder_email}" required>
                        </div>
                        <div class="form-group">
                            <label for="name" th:text="#{menu.question_title}">Question-Title*</label>
                            <input type="text" name="name" class="form-control" id="name" th:placeholder="#{menu.placeholder_name}" required>
                        </div>
                        <div class="form-group">
                            <label for="category" th:text="#{menu.category}">Category*</label>
                            <select name="category" class="form-control" id="category" required>
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="attachment" th:text="#{menu.attachment}">Attachment*</label>
                            <input type="file" name="attachment" class="form-control" id="attachment">
                        </div>
                        <div class="form-group">
                            <span th:text="#{menu.choose}">Choose*</span>
                            <label for="txtEditor"></label><textarea id="txtEditor" name="content" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" th:text="#{menu.publish_your_question}">Publish your Question</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<!--    footer -->
<th:block th:replace="~{template :: footer}" />

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/editor.js"></script>
<script>
    $(document).ready(function () {
        $("#txtEditor").Editor();

         $("form").submit(function(e) {
            var contentValue = $("#txtEditor").Editor("getText");
            $("#txtEditor").val(contentValue);
        });
    });
</script>


</body>

</html>