<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/template :: head(title = '100 ideas - Admin')}"><title>Administration</title></head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <th:block th:replace="~{admin/template :: navbar}" />
    <th:block th:replace="~{admin/template :: sidebar}" />
    br

    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-header-tabs" th:text="#{menu.questions}">Questions</h4>
                                <p class="card-text">
                                    <br>

                            <table>
                                <tbody>
                                    <tr th:each="question, it : ${questions}">
                                        <td th:text="${it.index}+1"></td>
                                        <td class="truncate" th:text="${question.name}"></td>
                                        <td>
                                            <a th:href="@{'/admin/questions/'+${question.id}}"
                                               class="btn btn-info btn-sm">
                                                <i class="fas fa-pencil-alt"></i>
                                                <span th:text="#{button.edit}"></span>
                                            </a>
                                            <a th:href="@{'/admin/questions/'+${question.id}+'/delete'}"
                                               class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash"></i>
                                                <span th:text="#{button.delete}"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>


                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-header-tabs" th:text="#{menu.answers}">Answers</h4>
                                <p class="card-text">
                                    <br>

                                <table>
                                <tbody>


                                </tbody>
                                <tbody>
                                <tr th:each="answer, it : ${answers}">
                                    <td th:text="${it.index}+1"></td>
                                    <td class="truncate" th:text="${answer.content}"></td>
                                    <td>
                                        <a th:href="@{'/admin/answers/'+${answer.id}}"
                                           class="btn btn-info btn-sm">
                                            <i class="fas fa-pencil-alt"></i>
                                            <span th:text="#{button.edit}"></span>
                                        </a>
                                        <a th:href="@{'/admin/answers/'+${answer.id}+'/delete'}"
                                           class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash"></i>
                                            <span th:text="#{button.delete}"></span>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <th:block th:replace="~{admin/template :: righbar}" />

    <th:block th:replace="~{admin/template :: footer}" />
</div>
<!-- ./wrapper -->

</body>
</html>
