<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{admin/template :: head(title = '100 ideas - Admin')}"><title>Administration</title></head>
<body class="hold-transition sidebar-mini">

<div class="wrapper">
    <th:block th:replace="~{admin/template :: navbar}" />
    <th:block th:replace="~{admin/template :: sidebar}" />
    br

    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-header-tabs" th:text="#{menu.questions}">Questions</h4>
                                <p class="card-text">
                                    <br>

                            <table>
                                <tbody>
                                    <tr th:each="question, it : ${questions}">
                                        <td th:text="${it.index}+1"></td>
                                        <td class="truncate" th:text="${question.name}"></td>
                                        <td>
                                            <a th:href="@{'/questions/'+${question.id}}"
                                               class="btn btn-primary btn-sm">
                                                <i class="fas fa-folder"></i>
                                                <span th:text="#{button.view}"></span>
                                            </a>
                                            <a th:href="@{'/admin/question/'+${question.id}}"
                                               class="btn btn-info btn-sm">
                                                <i class="fas fa-pencil-alt"></i>
                                                <span th:text="#{button.edit}"></span>
                                            </a>
                                            <a th:href="@{'/admin/question/'+${question.id}+'/delete'}"
                                               class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash"></i>
                                                <span th:text="#{button.delete}"></span>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

<!--                                <nav aria-label="Page navigation">-->
<!--                                    <ul class="pagination">-->
<!--                                        <li class="page-item" th:classappend="${pageNumber == 1} ? 'disabled'">-->
<!--                                            <a class="page-link" th:href="@{'/admin?page=' + (${currentPage} - 1)}" th:text="#{text.previous}">Previous</a>-->
<!--                                        </li>-->
<!--                                        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalQuestionsPages)}" th:classappend="${i == currentPage} ? 'active'">-->
<!--                                            <a class="page-link" th:href="@{'/admin?page=' + i}" th:text="${i}"></a>-->
<!--                                        </li>-->
<!--                                        <li class="page-item" th:classappend="${pageNumber == totalQuestionsPages} ? 'disabled'">-->
<!--                                            <a class="page-link" th:href="@{'/admin?page=' + (${currentPage + 1})}" th:text="#{text.next}">Next</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                </nav>-->

                            </div>
                    </div>


                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">

                                    <h4 class="card-header-tabs" th:text="#{menu.answers}">Answers</h4>
                                    <p class="card-text">
                                        <br>

                                    <table>
                                        <tbody>
                                        <tr th:each="answer, it : ${answers}">
                                            <td th:text="${it.index + 1}"></td>
                                            <td class="truncate" th:text="${answer.content}"></td>
                                            <td>
                                                <a th:href="@{'/admin/answer/'+${answer.id}}"
                                                   class="btn btn-info btn-sm">
                                                    <i class="fas fa-pencil-alt"></i>
                                                    <span th:text="#{button.edit}"></span>
                                                </a>
                                                <a th:href="@{'/admin/answer/'+${answer.id}+'/delete'}"
                                                   class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash"></i>
                                                    <span th:text="#{button.delete}"></span>
                                                </a>
                                            </td>
                                            <td class="text-left" style="padding-left: 20px;">
                                                <span th:text="#{text.fromQuestion} + ': '"></span>
                                                <a th:href="@{'/questions/' + ${answer.question.id}}"
                                                   th:text="${answer.question.name}"></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

<!--                                    <nav aria-label="Page navigation">-->
<!--                                        <ul class="pagination">-->
<!--                                            <li class="page-item" th:classappend="${pageNumber == 1} ? 'disabled'">-->
<!--                                                <a class="page-link" th:href="@{'/admin/questions?page=' + (${pageNumber} - 1)}">Previous</a>-->
<!--                                            </li>-->
<!--                                            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}" th:classappend="${i == pageNumber} ? 'active'">-->
<!--                                                <a class="page-link" th:href="@{'/admin/questions?page=' + i}" th:text="${i}"></a>-->
<!--                                            </li>-->
<!--                                            <li class="page-item" th:classappend="${pageNumber == totalPages} ? 'disabled'">-->
<!--                                                <a class="page-link" th:href="@{'/admin/questions?page=' + (${currentPage + 1})}">Next</a>-->
<!--                                            </li>-->
<!--                                        </ul>-->
<!--                                    </nav>-->


                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

    </div>


    <th:block th:replace="~{admin/template :: righbar}" />

    <th:block th:replace="~{admin/template :: footer}" />
</div>
<!-- ./wrapper -->

</body>
</html>
