<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{text.loginPage}">Login Page</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
	<link rel="stylesheet" type="text/css" href="/css/custom.css">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<div class="main">
	<div class="messages">
		<div th:if="${successMessage}" class="success-message">
			<p th:text="${successMessage}"></p>
		</div>
		<div th:if="${errorMessage}" class="error-message">
			<p th:text="${errorMessage}"></p>
		</div>
	</div>

	<input type="checkbox" id="chk" aria-hidden="true">

	<div class="signup">
		<form method="post" action="/login">
			<label for="chk" th:text="#{text.loginPage}">Login</label>
			<input type="text" id="username" name="username" required th:placeholder="#{text.placeholderUsername}">
			<input type="password" name="password" th:placeholder="#{text.password}" required="">
			<button type="submit" th:text="#{text.login}">Login</button>
		</form>
	</div>

	<div class="login">
		<form method="post" action="/register">
			<label for="chk" aria-hidden="true" th:text="#{text.signup}">Sign up</label>
			<input type="text" id="registerUsername" name="username" th:placeholder="#{text.placeholderUsername}" required="">
			<input type="email" id="registerEmail" name="email" th:placeholder="#{menu.placeholder_email}" required="">
			<input type="password" id="registerPassword" name="password" th:placeholder="#{text.password}" required="">
			<button type="submit" th:text="#{text.signup}">Sign up</button>
		</form>
	</div>
</div>

</body>
</html>